html {
    background-color: #0f0f0f;
    color: #eee;
}

td {
    padding: 20px;
}


.t1 * {
    border: 2px solid lime;
    border-collapse: collapse;
}

.t2 * {
    border: 2px solid blue;
    border-collapse: collapse;
}