html {
    background-color: #003146;
    margin: 0 !important;
    padding: 0;
    color: white;
    max-width: 100% !important;
    font-family: 'Euclid Circular A';
    font-weight: 100;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    padding: 7vh 10% 0 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin: 5vh 10%; */

}

.logo {
    font-family: 'Domaine Display';
    font-size: 25px;
    
}

/* .menu {
} */

.hero {
    padding: 0 10% 5% 10%;
    margin: 3% 2% 2% 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
}

h1 {
    font-size: 4.5rem;
}

p {
    font-size: 1.8rem;
    line-height: 150%;
    max-width: 630px;
    margin-top: -2%;
}

.hero-btn {
    background-color: #001E2B;
    width: 300px;
    padding: 25px;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3%;
}

.hero-btn:hover {
    background-color: #001823;
    cursor: pointer;
}

button {
    all: unset;
}

.hero-img {
    width: auto;
    align-self: center;
}

.hero-arrow {
    margin: 6% 0 1% 0;
    flex-basis: 100%;
    text-align: center;
}

.a1 {
    background-color: #666666;
    height: 1080px;
    width: 100%;
}